<!-- ikeliam head -->
<%- include('../partials/head.ejs') %>
<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('../partials/nav.ejs')%>
<h1>Single blog page</h1>
<section id = "one-post" class="jumbotron text-center" data-post-id= "<%=blogId %>">
  <div class="container">
    <h2><%-result.title%></h2>
    <p class="lead text-muted"><%- result.author%></p>
    <p>
      <p> <%- result.body%></p>
      <p> <%- result.createdAt.toLocaleString()%></p>
      <a href = "/single/edit/<%-result._id%>" id="editBtn" class="btn btn-primary my-2">Edit</a>
      <a id="deleteBtn" class="btn btn-danger my-2">delete</a>
    </p>
  </div>
</section>

<%-include('../partials/footer.ejs')%>
