<!-- ikeliam head -->
<%- include('../partials/head.ejs') %>

<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('../partials/nav.ejs')%>

<section id="one-post" class="jumbotron text-center" data-post-id="<%=blogId %>">
  <div class="container">
    <h2><%-result.name%></h2>
    <p class="lead text-muted"><%- result.email%></p>

    <p><%- result.createdAt.toLocaleString()%></p>

    <form action="/owners/delete/<%= blogId %>" method="POST">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
</section>

<%-include('../partials/footer.ejs')%>
